<link rel="stylesheet" href="css/dadosPac.css">

<section>
    <div class="box">
        <span class="material-symbols-outlined" onclick="voltar()">arrow_back</span>
        <h1>Dados do paciente</h1>
    </div>
    <h2>Nome:</h2>
    <p><strong>{{nome}}</strong></p>
    <h2>CPF:</h2>
    <p><strong>{{cpf}}</strong></p>
    <h2>Senha:</h2>
    <p><strong>{{senha}}</strong></p>
    <h2>Consulta:</h2>
    <p><strong>{{consulta}}</strong></p>
    <h2>Prioridade:</h2>
    <p><Strong>{{prioridade}}</Strong></p>
    <h2>Atendido:</h2>
    <p><strong>{{atendido}}</strong></p>
    <h2>Código de segurança:</h2>
    <p><strong>{{codigo}}</strong></p>
    <h2>Data de cadastro:</h2>
    <span id="info">A data é referente a data do computador que realizou o registro!</span>
    <p><strong>{{data}}</strong></p>
    <div id="btn" onclick="voltar()"><span class="material-symbols-outlined">arrow_back</span> VOLTAR</div>
</section>

<script src="scripts/dadosPac.js"></script>